body {
    width: 1024px ;
    margin-left: auto ;
    margin-right: auto ;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 110% ;
}

pre {
    background-color: #F3F6FA ;
    margin-left: 1% ;
    margin-right: 24.5% ;
    font-size: 120% ;
    overflow-x: auto ;
}

code {
    background-color: #E0E0E0 ;
    font-size: 120% ;
}

a {
    font-weight: bold ;
}
